.footer__link {
    color: white;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 18px;
    transition: .5s ease-in-out;  
}

.footer__link:hover {
    opacity: .6;
}