.places__url-heading {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;   
    margin-top: 0; 
}

@media screen and (max-width: 320px) {
    .places__url-heading {
        font-size: 12px;
        line-height: 12px;
    }
}